/* Manrope - Optimized for instant rendering */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/Manrope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url('fonts/Manrope-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/Manrope-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url('fonts/Manrope-ExtraBold.ttf') format('truetype');
}

/* Map weight 900 (Tailwind font-black) to ExtraBold to avoid faux-bold */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url('fonts/Manrope-ExtraBold.ttf') format('truetype');
}

/* JetBrains Mono */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/JetBrainsMono-Bold.ttf') format('truetype');
}