/* Modal Animation */
@keyframes modalIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Custom Radio for Modal */
.radio-card:checked+div {
    background-color: #fff7ed;
    /* orange-50 */
    border-color: #f97316;
    /* orange-500 */
    color: #9a3412;
    /* orange-800 */
}


